_minted-*
*.aux
*.log
.DS_Store
trash.tex
*.toc
.commit
*.idx
*.ilg
*.ind
main.pdf
cover.pdf
*.pyg
*.idlk
*.out
photos
pyg_print/build/
pyg_print/dist/
pyg_print/pyg_print.egg-info/
media/sent/
media/corr/
/*.pdf
.auctex-auto/
*.fdb_latexmk
*.fls
.dtmp
